<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787040450317-md1rjkp24er1r25bamfu3rm4af8pne1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787040450317-md1rjkp24er1r25bamfu3rm4af8pne1r</string>
	<key>API_KEY</key>
	<string>AIzaSyDetsUxrtoksPVCcvVv8K8Bi-LwzgaBnx8</string>
	<key>GCM_SENDER_ID</key>
	<string>787040450317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.synoptek.chatapp</string>
	<key>PROJECT_ID</key>
	<string>pkchat-b4bd5</string>
	<key>STORAGE_BUCKET</key>
	<string>pkchat-b4bd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787040450317:ios:6e31cc7eb44d2c75</string>
	<key>DATABASE_URL</key>
	<string>https://pkchat-b4bd5.firebaseio.com</string>
</dict>
</plist>